
- @article_categories.each do |article|
  .container
    .row.justify-content-center
      .col-md-8
        .card.text-center.shadow.mb-5.bg-light.rounded
          .card-header
            = link_to "#{article.user.username}", user_path(article.user), class: %w( font-italic text-info)
            .row.justify-content-center
              - if article.categories.any?
                - article.categories.each do |category|
                  %span= link_to "#{category.name}", category_path(category), class: %w(badge badge-pill badge-info my-1 ml-1)
          .card-body
            %h2= link_to "#{article.title}", article_path(article), class: %w( card-title font-weight-bold text-success)
            %p.card-text= "#{article.description.truncate(50)}"
            = link_to 'View', article_path(article), class: %w( btn btn-outline-success )
            - if logged_in? && (article.user == current_user) || current_user.admin?
              = link_to 'Edit', edit_article_path(article), class: %w( btn btn-outline-info )
              = link_to 'Delete', article_path(article), method: :delete, class: %w( btn btn-outline-danger ), data: {confirm: "Are you sure?"}
          .card-footer.text-muted 
            .small= "Posted by #{article.user.username}"



