.container
  .row.justify-content-center
    .col-10
      = render partial: "shared/errors", locals: {f: @article}

  .row.justify-content-center
    .col-10
      = form_with(model: @article, class: %w(shadow p-3 mb-4 bg-info rounded), local: true) do |f|
        .row.form-group
          = f.label :title, class: %w(col-2 col-form-label text-white)
          .col-sm-10
            = f.text_field :title, placeholder: "Title", class: "form-control shadow rounded"
        .row.form-group
          = f.label :description, class: %w(col-2 col-form-label text-white)
          .col-sm-10
            =f.text_area :description, rows: 10, placeholder: "Description", class: %w(form-control shadow rouned)
        .row.form-group
          = f.label :categories, class: %w(col-2 col-form-label text-white)
          .col-sm-10
            = f.collection_select(:category_ids, Category.all, :id, :name, { prompt: 'Select categories for this article:' }, { multiple: true, size: 4, class: %w(custom-select shadow rounded) } )

        .row.form-group.justify-content-center
          = f.submit class: %w(btn btn-outline-light btn-lg)

    = link_to '[ Cancel - Return to Articles ]', articles_path, class: %w(text-info)