%h1 Editing An Article

-if @article.errors.any?
  %h2= "The following errors prevented the article from being saved"
  %ul
    - @article.errors.full_messages.each do |msg|
      %li= msg


= form_with(model: @article, local: true) do |f|
  .form-fields
    .label
      = f.label :title
    .field
      = f.text_field :title

  %br

  .form-fields
    .label
      = f.label :description
    .field
      = f.text_area :description, size: "30x8"

  %br

  .submit
    = f.submit "Update Article"