%h2.text-center.mt-4= "#{@article.title}"

.container
  .row.justify-content-center
    .col-md-8
      .card.text-center.shadow.mb-5.bg-light.rounded
        .card-header
          .row.mb-3.justify-content-center
            = "by #{@article.user.username}"
          .row.justify-content-center
            = link_to gravatar_for(@article.user), user_path(@article.user)

          .row.justify-content-center
            - if @article.categories.any?
              - @article.categories.each do |category|
                %span= link_to "#{category.name}", category_path(category), class: %w(badge badge-pill badge-info mt-3 ml-1)
        .card-body
          .card-text.text-left= simple_format(@article.description)
          - if logged_in? && (@article.user == current_user || current_user.admin?) 
            = link_to "Edit Article", edit_article_path(@article), class: %w( btn btn-outline-info )
            = link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: %w( btn btn-outline-danger )
        .card-footer.text-muted
          .small= "Created #{time_ago_in_words(@article.updated_at)} ago"
